/* Vidéo en arrière-plan */
.video-background {
    position: fixed; /* Rendre la vidéo toujours visible en arrière-plan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Vidéo en arrière-plan */
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; /* Empêche l'interaction avec la vidéo */
}

/* Header spécial pour */
.header {
    position: relative; /* Assure que le header est bien superposé */
    z-index: 10; /* Plus haut que la vidéo */
    background-color: transparent; /* Garder le fond transparent */
}

.content-section {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 6rem; /* Space between elements */
    align-items: center; 
    margin-top: 10rem;
}
.hero h1 {
    font-family: "Cherry Bomb One", serif;
    font-size: 48px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin: auto;
    padding: auto;
    width: 700px;
    height: 90px;
}

.headline-show {
    background-color: #EDEFF9; 
    color: black;
    min-height: 100vh;
    width: 100%;
}

.headline-show h2{
    padding: 2rem;
    margin-left: 2rem;
}

.show_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10rem;
    gap: 5rem;
    margin-right: 15rem;
}

.show_picture {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.show_details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.show_duration {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #72A1B4;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 8.25rem;
    height: 1.5rem;
}

.show_information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #72A1B4;
}
.show_resume {
    color: black;
    width: 22.125rem;
}
.show_picture img {
    width: 520px;
    height: 300px;
    border-radius: 2rem;
}


.video_culturelle {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.background-video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.discover-button {
    position: relative;
}
