.agenda {
    min-height: 100vh;    /* Changed from min-width to min-height */
    width: 100%;         /* Full width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.agenda h1 {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 3rem;
}

.agenda-annee h2 {
    margin-left: 5rem;
    width: 69.5rem;
    height: 3rem;
    background-color: #6fa9b1;
    color: white;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.agenda ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 0;
    margin-left: 10rem;
}

.agenda li {
    margin: 8px 0;
}

.agenda-date {
    font-weight: bold;
}