.company p {
  font-size: 24px;
}

.c_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.c_one p {
  margin-top: 2rem;
  max-width: 750px;
}

.c_two, .c_three {
  display: flex;
  flex-wrap: wrap;
  background-color: #72A1B4;
  min-height: 80vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  gap: 2rem;
  align-items: center;
  position: relative; /* Nécessaire pour ::after */
}

.c_three{
  background-color: #ffffff;
}
.c_two-left, .c_three-left {
  flex: 1;
  text-align: center;
  min-width: 300px;
}

.c_two-left h2 {
  color: white;
}

.c_two-left img, .c_three-left img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 20%;
}

.c_two-right, .c_three-right {
  flex: 2;
  max-width: 650px;
  padding: 1rem;
}

.c_two a, .c_three a {
  text-decoration: underline;
}

/* Media Query pour les écrans de moins de 1024px */
@media (max-width: 1024px) {
  .c_two, .c_three {
      flex-direction: column;
      text-align: center;
  }

  .c_two-right, .c_three-right {
      max-width: 100%;
      padding: 1rem;
  }

  .c_one h1 {
      font-size: 50px;
  }
}

/* Media Query pour les écrans de moins de 768px (tablettes et téléphones) */
@media (max-width: 768px) {
  .c_two-left img, .c_three-left img {
      max-width: 250px;
  }

  .c_two-left h2, .c_three-left h2 {
      font-size: 1.5rem;
  }

  .c_one p {
      font-size: 18px;
  }

  .c_one h1 {
      font-size: 45px;
  }
}

/* Media Query pour les écrans de moins de 480px (petits téléphones) */
@media (max-width: 480px) {
  .c_two-left img, .c_three-left img {
      max-width: 200px;
  }

  .c_two-left h2, .c_three-left h2 {
      font-size: 1.25rem;
  }

  .c_one p {
      font-size: 16px;
  }

  .c_one h1 {
      font-size: 38px;
      z-index: 5;
      color: white;
  }
}
