
footer {
    background-color: white;
}

.barre {
    height: 10px; /* Hauteur de la barre */
    background-color: #72A1B4; /* Couleur de la barre */
    width: 100%; /* Largeur de la barre */
    margin-bottom: 10px;
}
.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    gap: 25rem;
    margin-left: 2rem;
}

.footer_luma p, .footer_luma img {
    margin-bottom: 1.5rem;
}

.footer_links, .footer_follow {
    margin-top: 3rem;
}

.footer_links a {
    position: relative;
    text-decoration: none;
}

.footer_links a::after { /*animation de survol*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #BEE9E7; 
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.footer_links a:hover::after {
    transform: scaleX(1);
}
.footer_links li, .footer_follow p, .footer_follow img {
    margin-bottom: 1rem;
}

.footer_follow img{
    margin-left: 1rem;
    margin-right: 1rem;
}
/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Empile les éléments verticalement */
        gap: 1rem; /* Réduit encore l'espace entre les éléments */
    }

    .footer_luma, .footer_links, .footer_follow {
        text-align: center; /* Centre le texte */
    }

    .footer_links, .footer_follow {
        margin-top: 1rem; /* Réduit la marge supérieure */
    }

    .footer_follow img {
        margin: 0 0.5rem; /* Ajuste les marges des icônes */
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 14px; /* Réduit la taille de la police pour les très petits écrans */
    }

    .footer_links a::after {
        height: 1px; /* Réduit l'épaisseur de la ligne de survol */
    }
}