/* Section principale */
.home_company {
  height: 100vh; /* Occupe 100% de la hauteur de la fenêtre */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement le contenu */
  align-items: center; /* Centre horizontalement le contenu */
  background-color: #ffffff; 
  padding: 20px;
  box-sizing: border-box;
}

.home_company h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color:#72A1B4;
}

/* Section du slider */
#tranding {
  position: relative;
  width: 100%; /* Largeur du slider */
  max-width: 1000px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur */
  overflow: hidden; /* Cache les débordements */
}

/* Swiper container */
.swiper {
  width: 100%;
  height: 100%; /* Prend toute la hauteur disponible */
}

/* Swiper slides */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff; /* Couleur de fond des slides */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  overflow: hidden;
  transition: transform 0.3s ease; /* Animation fluide */
  
}

.swiper-slide:hover {
  transform: scale(1.05); /* Zoom léger au survol */
}

/* Contenu des slides */
.tranding-slide-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tranding-slide-img img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Adapte les images au conteneur */
  width: 800px;
  height: 400px;
  z-index: -1;
}

.tranding-slide-content {
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: transparent;
  bottom: 15rem;
}

.slider_title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tranding-slide-content p {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}


.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}
