
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-family: "Cherry Bomb One", serif;
    gap: 10%;
}


.menu-item {
    color: #eec899; /* Couleur du texte */
    font-size: 18px;
    cursor: pointer;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 100px; /* Ajustez la taille du logo */
    margin-bottom: 20px;
}

.logo-container span {
    color: #eec899; /* Couleur du texte sous le logo */
    font-size: 14px;

}
